<div class="row justify-content-center">
  <div class="col-md-9 col-lg-7 col-xl-6">
    <div class="card bordered item_box mb-4">
      <div class="card-body p-4 p-sm-5 text-center">
        <img *ngIf="user.image" [src]="url_user" class="img-thumbnail mb-4" alt="Foto de Perfil de Usuario">
        <img *ngIf="!user.image" [src]="'../../../../'+(prod ? 'sdlc/':'')+'assets/img/user.jpg'" class="img-thumbnail mb-4" alt="Foto de Perfil de Usuario">
        <h4 class="card-title">{{user.name}} {{user.lastname}}</h4>
        <p class="card-text">{{user.email}}</p>
        <a routerLink="/manager/profile/edit" class="btn btn-light">Editar Información</a>
      </div>
    </div>
    <div class="card bordered item_box">
      <div class="card-header">Proyectos Asociados</div>
      <div class="card-body p-4">
        <ng-container *ngIf="!loading_projects; else prjlist">
          <div class="d-flex flex-row align-items-center gap-3 mb-3" *ngFor="let project of projects">
            <div class="d-none d-sm-block">
              <div class="project_box">{{ getAcronym(project.name) }}</div>
            </div>
            <div class="flex-grow-1">
              <span class="prj_name">{{ project.name }}</span>
              <span class="date_box">Modificado {{ project.updated_at | date: "dd/MM/yyyy, hh:mm a" }}</span>
            </div>
            <div>
              <a [routerLink]="['/manager/project/', project._id, 'planning']" class="btn btn-light __b">
                <fa-icon class="profile-icon" [icon]="['fas','link']"></fa-icon>
              </a>
            </div>
          </div>
        </ng-container>

        <ng-template #prjlist>
          <div class="d-flex justify-content-center">
            <div class="spinner-border text-secondary" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
        </ng-template>

        <p *ngIf="projects.length === 0 && !loading_projects" class="text-center text-muted fst-italic mb-0">Lista vacía</p>
      </div>
    </div>
  </div>
</div>