.project_title {
  font-size: 13px;
  font-weight: 700;
  color: #858ea1;
  text-transform: uppercase;
  margin-bottom: 10px;
  background-color: #edf0f4;
  padding: 2px 10px;
  border-radius: 5px;
}
.project_wrap {
  padding-left: 10px;
}