<div class="card box_shadow mb-5">
  <div class="card-body p-5">
    <h2 class="text-center mb-2">Recuperar Contraseña</h2>
    <h5 class="text-center mb-5">Por favor, ingresa tu correo electrónico</h5>
    <form *ngIf="!sent" class="auth_form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <fieldset [disabled]="loading">
        <div class="mb-4">
          <label for="recover_email" class="form-label">Correo electrónico</label>
          <input
            formControlName="email"
            type="email"
            class="form-control"
            id="recover_email"
            autocomplete="off"
            placeholder="nombre@unl.edu.ec"
            [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
          />
          <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
            <div *ngIf="f['email'].errors['required']">El email es requerido</div>
            <div *ngIf="f['email'].errors['email']">El email debe ser válido</div>
          </div>
        </div>
        <div class="d-grid">
          <button type="submit" class="btn btn-primary mb-2">
            Solicitar recuperación
          </button>
          <a routerLink="/resend" class="btn btn-light">Reenviar verificación</a>
        </div>
      </fieldset>
    </form>
    <div *ngIf="sent" class="alert alert-success text-center mb-2" role="alert">
      El proceso ha sido finalizado correctamente.
    </div>
    <div *ngIf="sent" class="d-flex justify-content-center">
      <a routerLink="/" class="btn btn-secondary">Ingresar a cuenta</a>
    </div>
  </div>
  <div class="card-footer text-center py-4">
    ¿No tienes una cuenta? <a [routerLink]="['/signup']">Regístrate</a>
  </div>
</div>

<p class="text-muted mb-0 fs-6 text-center">
  &copy; {{ year }}. Todos los derechos reservados.
</p>
