
<div class="text_wrapper mb-4" *ngIf="!show" (click)="showInput(true)" [innerHTML]="description || '<p class=\'text-muted\'><i>Añadir descripción...</i></p>'"></div>

<div class="editor_wrapper mb-4" [hidden]="!show">
  <form (ngSubmit)="update()">
    <fieldset>
      <angular-editor
        #refEditor
        [placeholder]="'Agrega una descripción...'" 
        [(ngModel)]="description"
        name="description"
        [config]="editorConfig"
      ></angular-editor>
      <div class="d-flex justify-content-end gap-2 mt-3">
        <button class="btn btn-primary" type="submit">Guardar</button>
        <button class="btn btn-light" type="button" (click)="showInput(false)">Cancelar</button>
      </div>
    </fieldset>
  </form>
</div>
