table {
  thead {
    tr {
      th {
        font-size: 12px;
        text-transform: uppercase;
      }
    }
  }
  .btn {
    padding: 5px 10px;
    font-size: 12px;
    text-transform: uppercase;
  }
}