.it_header {
  small {
    text-transform: uppercase;
    font-weight: 700;
  }
  h4 {
    font-weight: 400;
    color: #848BA0;
  }
}

.bg_iteration {
  background-color: #edf0f5;
  padding: 20px 20px 10px;
}
.activity_link {
  color: #3f4551;
  text-decoration: none;
}
.iteration_name {
  font-weight: 500;
}

// badges
.bg_to-do {
  background-color: #f0f3f8;
  color: #444b87;
}

.bg_in-progress {
  background-color: #d4f1f9;
  color: #444b87;
}

.bg_done {
  background-color: #2be977;
  color: #0f4a2f;
}

.rsp_pic {
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: #d4f1f9;
  border-radius: 100%;
  text-align: center;
  font-size: 12px;
  color: #78A1A8;
}

.drag_icon {
  .ng-fa-icon {
      color: #a8adb3;
  }
}

.dnd_dropzone {
  border: 1px dashed rgba(0, 0, 0, 0.3); 
  border-radius: 5px; 
  padding: 10px 15px;
  background-color: #f8f9fa;
  font-size: 12px;
  text-transform: uppercase;
}

.wrap_dropzone {
  max-height: 212px;
  overflow: auto;
  padding-right: 10px;
}

.created_container {
  position: absolute;
  top: 50%;
  right: 0;
  width: 8px;
  height: 20px;
  display: inline-block;
  border-radius: 0px;
  margin-top: -10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.created_collaborator {
  background-color: #2be977;
}

.created_manager {
  background-color: #FF5733;
}